/*############ default ################*/
html, body, nav, canvas {
  display: block;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

canvas#map {
  height: 100%;
  width: auto;
  overflow: hidden;
  background-image: url("images/BAGUIO.png");
}

/*############ responsive ##########*/

@media screen and (max-width: 680px) {
  div.container {
    margin: 0;
  }

  canvas#map {
    height: 100%;
    width: auto;
  }

  form {
    float: right;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*############# HIDDEN CONTENT ###############*/
div.container div#rest-container {
  margin-left: 10%;
  margin-right: 80%;
  margin-top: 100px;
  width: 300px;
  height: auto;
  background-color: #eee;
  overflow: hidden;
  position: fixed;
  display: none;
}

div.container div#rest-container.show {
  display: block;
}

div.somebox {
  padding: auto;
}

div.somebox h1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.somebox h3 {
  padding-left: 10px;
}

div.somebox p {
  padding-left: 10px;
}

div.somebox div.divBot {
  margin: auto;
  text-align: center;
}

div.somebox div.divBot button.menuButton {
  font-size: 20px;
  padding: 10px;
}

div.somebox div#menu {
  overflow-y: scroll;
  height: 160px;
}

.menuItem {
  padding-left: 10px;
}

.menuItem p {
  padding-left: 15px;
}

.menuItem h4 {
  padding-left: 10px;
}

.Menu{
	top: 20px;
	margin-right:100px;
    background-color: #4CAF50;
	font-size:20px;
	cursor:pointer;
	position: fixed;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}